.carousel-container {
    
    width: 100%;
    max-width: 1000px; /* Set a max-width for the carousel container */
    margin: 20px auto 0; /* Center the carousel horizontally and add 20px margin from the top */
  
  
  }

  
  