.mega-menu {
/* MegaMenu.css */
    background-color: #208feb; /* Background color for the mega-menu */
    color: #fff; 
    padding: 10px; 
    position: relative; 
    
  }
  
  .menu-list {
    list-style: none; /* Remove bullet points from the menu items */
    margin: 0;
    padding: 0;
    margin-left:300px;
  }
  
  .menu-item {
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px; /* Add some space between menu items */
  }
  
  .menu-item a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; /* Make the links bold */
  }
  
  .menu-item a:hover {
    text-decoration: underline; /* Underline the links on hover */
  }
  
  .mega-menu-content {
    display: none; 
    position: absolute; 
    top: 50px; 
    left: 0; 
    background-color: #444; 
    padding: 10px; 
    border-radius: 5px; 
  }
  
  .menu-item:hover .mega-menu-content {
    display: block; /* Show the mega-menu content on hover */
  }
  
  .menu-item.search-icon form {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .menu-item.search-icon input {
    width: 120px; /*  width of the search input as needed */
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .menu-item.search-icon button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  