
 */
 .App {
  text-align: center;
  padding: 0; 
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1200px; /* Set a maximum width for the card container */
  margin: 0 auto; /* Center the card container */
}

/*adjust the card width for smaller screens using media queries */
@media (max-width: 768px) {
  .card-container {
    flex-wrap: wrap; /* Wrap the cards on smaller screens */
    justify-content: center;
  }
  
  .card {
    width: 45%; /* Adjust the width of the cards for smaller screens */
  }
}
